/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

/* Default styling */
* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}
*::selection {
  background-color: rgba(34, 189, 150, 0.568);
}
/* No blue outline when focusing on input */
*:focus {
  outline: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Background for body as well as some nice defaults. */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(40deg, lightblue, lightgreen);
  color: white;
}

/* Style the container */
.container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 80vh;
  max-height: 500px;
  max-width: 500px;
  background-color: #0005;
  border-radius: 10px;
}
/* No padding or margin on the form (message input, span with typing) */
form {
  padding: 0;
  margin: 0;
}

/* Style system notifications */
.system {
  width: 90%;
  background-color: rgba(255, 0, 0, 0.2);
}

/* Message input box */
input[type="text"] {
  background-color: #fff3;
  padding: 20px;
  border-radius: 10px;
  border: none;
  width: 100%;
  margin: 0;
  font-size: 14px;
  color: white;
}
/* Style the input when typing, fix border-radius */
input[type="text"].typing {
  border-radius: 0 0 10px 10px;
}
/* Style the input placeholder, default was too dark. */
input::placeholder {
  color: #ddd;
}

ul#messages {
  height: 350px;
  overflow: scroll;
  list-style: none;
}
/* Apply fade animation to last list item */
ul#messages li:last-child {
  padding: 10px;
  opacity: 0;
  animation: fade-in 2s forwards;
}
/* Show delete button when list item is hovered */
ul#messages li:hover button {
  opacity: 1;
}

/* Delete button is the only button XD */
button {
  transition: opacity 0.3s ease;
  padding: 5px;
  opacity: 0;
  float: right;
  background-color: rgb(255, 142, 101);
  color: white;
  border-radius: 5px;
  border: none;
}

/* Banner at the top */
.banner {
  background-color: #0004;
  width: 100%;
  border-radius: 10px;
  padding: 13px;
  box-sizing: border-box;
}

/* Message sender at the top of the message */
#message-sender {
  display: block;
  margin-right: 6px;
  color: rgb(196, 229, 240);
}

/* General message styling */
li {
  padding: 10px;
  border-radius: 10px;
  background: #0003;
  width: 60%;
  height: fit-content;
  word-wrap: break-word;

  /* Assume it's not sent by 'me' */
  margin: 10px 0;
  margin-left: 20px;
  float: left;
}

/* For messages sent by me place them differently (On the right) */
li.me {
  float: right;
  margin-right: 20px;
}

@media (max-width: 500px) {
  /* Mobile styling */
  ul#messages {
    display: flex;
    flex-direction: column;
  }

  li {
    width: auto;
    margin: 10px;
    float: none;
  }
}
/* Message date styling */
#message-date {
  color: #bbb;
  display: block;
  font-style: italic;
  font-size: 10px;
  margin-top: 10px;
}

/* Style links */
a {
  color: lightblue;
}
/* Hide overflow-x on the messages list */
ul#messages {
  overflow-x: hidden;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
/* Scrollbar background */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar indicator */
::-webkit-scrollbar-thumb {
  border-radius: 1000px;
  /* A nice gradient */
  background: linear-gradient(to top, lightblue, lightgreen);
}

/* The list of messages */
ul#messages {
  height: 400px;
}

form {
  position: relative;
}

/* Animation for fading in the newest message */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Style code blocks */
code {
  display: block;
  width: 100%;
  font-family: monospace;
  background: rgb(128 128 128 / 0.4);
  padding: 4px;
  border: 2px solid slategrey;
  border-radius: 5px;
}

/* Bottom right buttons */
#fullscreen,
#signout,
#settings {
  opacity: 1;
  position: absolute;
  padding: 10px;
  background-color: transparent;
  color: #0009;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
/* Space them out */
#signout {
  right: 40px;
}

#settings {
  right: 70px;
}

/* Style blockquotes (The elements that clicking quote creates) */
blockquote {
  border-left: 4px solid lightblue;
  padding: 5px;
}

/* Quote link at the bottom of posts */
#quote {
  font-size: 10px;
  color: lightblue;
  text-decoration: underline;
  cursor: pointer;
  display: inline;
}

/* The status on the right of the banner */
#me {
  font-size: 13px;
  float: right;
  color: #fff9;
  font-style: italic;
  font-family: Poppins;
  display: inline;
  width: 50%;
}
/* Delete button */
ul li span button {
  cursor: pointer;
}
/* Style message editing */
ul li #message-text[contenteditable="true"] {
  background: #fff3;
  border-radius: 5px;
  padding: 4px;
  min-width: 150px;
  display: block;
}

/* Hide the open sandbox button, thanks to GrahamSH */
iframe[id^="sb"] {
  display: none !important;
}

/* Table styling */
table {
  background-color: #fffe;
  color: #101010;
  border-collapse: collapse;
}

th {
  font-weight: 500;
}

th,
td {
  border: 1px solid rgb(189, 192, 196);
  padding: 6px;
}

td {
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: #fffb;
}

/* The typing <span> */
#typing {
  position: relative;
  background: #0004;
  display: block;
  width: 100%;
  font-size: 14px;
  padding-left: 30px;
  border-radius: 10px 10px 0 0;
}

/* The gif that appears when  user is typing */
#typing-img {
  width: 20px;
  position: relative;
  top: 5px;
  margin-right: 6px;
}
